.filter_input_div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 1rem;
    width: 80rem;
}
.filter_input_div>div{
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    color: rgb(100, 100, 100);
}
.filter_input_div>div>input {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    width: 16rem;
    padding-left: 0.5rem;
}
.filter_input_div>div>button{
    border: none;
    padding: 0.4rem 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    background-color: var(--mainBlue);
    color: white;
}